@section top{
    <div class="datagrid-toolbar">
        @(Html.LinkButton("添加")
            .Options("plain:true,iconCls:'icon-add'")
            .Click("$.easyui.grid.addDialog('datagrid',{id:'manager_add_panel',title:'添加管理员',width:'320',height:'280',buttons:'dialogButtons',url:'Systems/User/Add'})")
            .Authorize(ModuleCode.SystemUser, OperationCode.Add)
            .Create())
        @(Html.LinkButton("修改")
            .Options("plain:true,iconCls:'icon-edit'")
            .Click("$.easyui.grid.editDialog('datagrid',{id:'manager_update_panel',title:'修改管理员',width:'320',height:'280',buttons:'dialogButtons',url:'Systems/User/Update'})")
            .Authorize(ModuleCode.SystemUser,OperationCode.Update)
            .Create())
        @(Html.LinkButton("删除")
            .Options("plain:true,iconCls:'icon-cancel'")
            .Click("$.easyui.grid.remove('datagrid','users/delete')")
            .Authorize(ModuleCode.SystemUser, OperationCode.Delete)
            .Create())
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick="$.easyui.grid.refresh('datagrid')">刷新</a>
    </div>
}
@section content{
    <table id="datagrid"></table>
}
@section footer{
    <script>
        var _this = $("#datagrid");
        $(function () {
            _this.datagrid({
                url: "users/list",
                method: 'get',
                idField: 'id',
                fit: true,
                rownumbers: true,
                pagination: true,
                singleSelect:true,
                pageSize: 10,
                columns: [[
                     { field: 'id', checkbox: true, width: 100 },
                     { field: 'userName', title: '用户名', width: 150 },
                     { field: 'nickName', title: '昵称', width: 150 },
                     { field: 'email', title: '邮箱', width: 200 },
                     { field: 'phoneNumber', title: '电话号码', width: 200 },
                     { field: 'createTime', title: '添加时间', width: 200 },
                ]]
            });
        });
    </script>
}




