.toolbar {margin-top: 2px; }
.top{ padding:0;}

/*表格列查找带回*/
.combo-lookup .combo-arrow { background: url('images/lookup.gif') no-repeat center center; }
.combo-lookup .combo-arrow-hover { background-color: #000; }