.toolbar {margin-top: 2px; }
.top{ padding:0;}

/*表格列查找带回*/
.combo-lookup .combo-arrow { background: url('images/lookup.gif') no-repeat center center; }
.combo-lookup .combo-arrow-hover { background-color: #000; }
.form { display:block;margin:10px 0 0 0;}
.form dl{float:left;width:280px;display:block;height:auto;margin:0;padding:0 15px 10px 0}
.form dt { float: left; width: 80px; padding: 0; margin: 0; padding-right: 5px;text-align:right; }
.form dd { float: left; display: block; width: 160px; margin: 0; padding: 0; }
.form label { float: left; width: 80px; padding: 0; line-height: 21px; }
.form input { float: left; }
.form select { float: left; }